@rendermode InteractiveAuto
@using Web.Components.Pages.Input.Dialog.Delete
@using Domain.Model.Models.Input
@using Domain.Model.Models.Output

@inject DialogService DialogService

<div>
    <div class="page">
        <main>
            <div>
                <div class="buttonCreate">
                    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                        <RadzenButton ButtonType="ButtonType.Submit" Click="EditPlatformDialog" Text="Удаление платформы" ButtonStyle="ButtonStyle.Primary" Disabled="false" />
                    </RadzenStack>
                </div>
            </div>
        </main>

    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<PlatformOutput>? Platforms { get; set; }

    private async Task EditPlatformDialog()
    {
        var parametrs = new Dictionary<string, object>() { { "Platforms", Platforms } };
        var options = new Radzen.DialogOptions() { Width = "350px", Height = "350px" };
        await DialogService.OpenAsync<PlatformDeleteDialog>("Удаление платформы", parametrs, options);
    }
}

