.buttonCreate {
    margin-right:475px;
    margin-top:10px;
    margin-left:300px;
}

.buttonLeft1{
    margin-top:100px;
}
.buttonRight1 {
    margin-top: 100px;
    margin-left: 1000px;
    margin-top: -100px
}