.buttonCreate {
    margin-right:475px;
    margin-top:50px;
    margin-left:300px;
    margin-bottom:30px
}
.buttonDelete {
    margin-right: 475px;
    margin-top: -65px;
    margin-left: 900px;
    margin-bottom:-120px;
}

.button-form-save {
    margin-bottom: -300px;
    margin-top: 200px;
}

.button-form-cancel {
    margin-bottom: 100px;
    margin-top:100px;
    float: right;
}