@rendermode InteractiveAuto
@using Domain.Model.Models.Input.Platform
@using Domain.Model.Models.Output.Warehouse
@using Model
@inject DialogService DialogService

<main>

<div class="buttonCreate">
        <EditForm Model="@model" OnSubmit="UpdatePlatform" >


        <RadzenButton ButtonType="ButtonType.Submit">Сохранить</RadzenButton>
        <RadzenButton ButtonType="ButtonType.Button" Click="CloseDialog">Закрыть</RadzenButton>
    </EditForm>
</div>
</main>

@code {
    [Parameter]
    public WarehouseOutput warehouseOutput { get; set; } = new();
    private UpdateWarehouseModel model { get; set; } = new();

    [Inject] private IHttpClientFactory HttpClientFactory { get; set; } = default!;
    private async Task UpdatePlatform()
    {
        var httpClient = HttpClientFactory.CreateClient();

        try
        {
            await httpClient.PostAsync("https://localhost:7294/Platform/platform", null);
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }
    private void CloseDialog()
    {
        DialogService.Close();
    }

}