@using Domain.Model.Models.Output
@using Web.Services
@inject WarehouseService WarehouseService
@inject DialogService DialogService

<main>

    <div>
        <EditForm FormName="Удаление склада" Model="@WarehouseId" OnSubmit="UpdatePlatform">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label>Выберите платформу, который привяжется пикет:</label>
                <RadzenDropDown Placeholder="Номер склада" @bind-Value=WarehouseId Data="Warehouses" Style="width: 100%;" 
                    ValueProperty="@nameof(WarehouseOutput.Id)" TextProperty="@nameof(WarehouseOutput.Name)" />
            </div>

            <RadzenButton class="button-form-save" ButtonType="ButtonType.Submit">Сохранить</RadzenButton>
            <RadzenButton class="button-form-cancel" ButtonType="ButtonType.Button" Click="CloseDialog">Закрыть</RadzenButton>
        </EditForm>
    </div>
</main>

@code {
    [Parameter]
    public IEnumerable<WarehouseOutput>? Warehouses { get; set; }
    private int WarehouseId;

    private async Task UpdatePlatform()
    {

        await WarehouseService.DeleteWarehouseAsync(WarehouseId);

        DialogService.Close();
    }
    private void CloseDialog()
    {
        DialogService.Close();
    }

}